<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<body>
	<nav th:fragment="menu">
	
	<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
              <a class="navbar-brand" href="/" th:href="@{/}">IT-Courses</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              	<li><a href="/courses" th:href="@{/courses}">Courses</a></li>
                <li class="active"><a href="#" th:href="@{/}">Student</a></li>
                <li><a href="#about">About</a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/newCourse" th:href="@{/newCourse}">Create new course</a></li>
                    <li><a href="/addStudent" th:rhef="@{/addStudent}">New students</a></li>
                    <li><a href="#">Asign student to course</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                  
                </li>
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
		       	<li class="active"><a href="/login" th:href="@{/login}">Login</a></li>
		      </ul>
              
            </div>
          </div>
        </nav>

      </div>
    </div>
	
	  
	</nav>
</body>
</html>