<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/main">
	  
  <head>    

    <link href="/css/carousel.css" rel="stylesheet" 
    	  th:href="@{/css/carousel.css}"/>
	
	<title>Courses</title>
	
  </head>
  
    <body>
  
    <div layout:fragment="content">
    
    <!-- INIT CONTENT -->
    
    <div class="container">    
    <br/><br/><br/><br/><br/><br/>

	<form>
	     <div class="form-group">
	         <label for="inputEmail">Email</label>
	         <input type="email" class="form-control"  placeholder="Email">
	     </div>
	     <div class="form-group">
	         <label for="inputPassword">Password</label>
	         <input type="password" class="form-control" placeholder="Contraseña">
	     </div>
	     <div class="checkbox">
	         <label><input type="checkbox">Keep sesionopen</label>
	     </div>
	     <button type="submit" class="btn btn-primary">login in</button>
	</form>        
    
    </div>
    
   <!-- FIN CONTENT -->
   </div>
    
    
  </body>
</html>
  


