<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    
    <th:block th:include="layout/headerinc :: head"></th:block>      

    <title>Cursos IT</title>
        
	<link type="text/css" rel="Stylesheet" href="/ajax/jquery-ui.css" />
	<script type="text/javascript" src="/ajax/jquery.min.js"></script>
	<script type="text/javascript" src="/ajax/jquery-ui.min.js"></script>


	<script type="text/javascript">
	    $(function () {
	        $("#datepic").datepicker();
	    });
	</script>

	<script type="text/javascript">
	    $(function () {
	        $("#datepic2").datepicker();
	    });
	</script>

    </head>
    
    <body>
      
      <div th:replace="layout/tabs :: 'menu'">&nbsp;</div>
      <br/><br/><br/><br/>
            
      <div class="container">    
       	
        <div class="modal-header">
           <h4 class="modal-title">New Course</h4>
        </div>
        
        <div class="modal-body">

         <form class="form-horizontal" role="form" th:action="@{/course}" th:object="${nuevocurso}" method="post">
		
		  <div class="form-group">
		    <label for="lblCourse" class="col-lg-2 control-label">Course Name</label>
		    <div class="col-lg-6">
		      <input type="text" class="form-control" th:field="*{name}" placeholder="Course Name"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label for="lblDescription" class="col-lg-2 control-label">Description</label>
		    <div class="col-lg-6">
		      <input type="text" class="form-control" th:field="*{description}" placeholder="Brief course description" />
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label for="startDate" class="col-lg-2 control-label">Start Date</label>
		    <div class="col-lg-3">
		      <input type="date" class="form-control" data-date-format="MM-DD-YYYY" id="datepic" th:field="*{startDate}"
			     th:value="${startDate}" />		      	  
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label for="endDate" class="col-lg-2 control-label">End Date</label>
		    <div class="col-lg-3">
		      <input type="text" class="form-control" id="datepic2" th:field="*{endDate}"
			     th:value="${endDate}" />		      	  
		    </div>
		  </div>
		  
		  
		  <div class="form-group">
		    <label for="lblSchedule" class="col-lg-2 control-label">Schedule</label>
		    <div class="col-lg-6">
		      <input type="text" class="form-control" id="idDuration" placeholder="Duration"/>
		    </div>
		  </div>

		  							      							      
		   <div class="form-group row">
		       <label for="lblInstructor" class="col-sm-2 control-label">Instructor</label>
		       <div class="col-sm-4">
		       <select class="selectpicker form-control" id="idSelectInstructor">
		        <option>Aldana</option>
		        <option>Pepita</option>
		        <option>Lucho</option>
		        </select>
		     </div>
		  </div>						      
					  
		  <div class="modal-footer">
               <button type="submit" name="save" class="btn btn-primary" data-dismiss="modal">Save</button>
               <button type="submit" name="cancel" class="btn btn-danger">Cancel</button>
           </div>
           
		</form>
              
      </div>     
                   
    </div>
    
   <!-- FIN CONTENT -->

            

           
    </body>
    
    <footer>
    	 <div th:replace="layout/footer :: 'footer'">&copy; 2013 The Static Templates</div>
    </footer>
    
</html>