<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/main">
	  
  <head>
    <link href="/css/carousel.css" rel="stylesheet" th:href="@{/css/carousel.css}"/>	
	<title>Courses</title>	
  </head>
  
    <body>
  
    <div layout:fragment="content">    
    <!-- INIT CONTENT -->
    
    <div class="container">    
    <br/><br/><br/><br/><br/><br/>

	<div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">CURSOS</h4>
                </div>
                <div class="modal-body">
                    <p></p>

                        <div th:unless="${#lists.isEmpty(listadeCursos)}">
                            <table class="table table-striped table-hover ">
                                <thead>
                                <tr class="info">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="p : ${listadeCursos}">
                                    <td th:text="${{p.idCourse}}">ID</td>
                                    <td th:text="${{p.name}}">Name</td>
                                    <td th:text="${{p.description}}">Description</td>
                                    <td><a th:href="@{'/editCourse/'+ ${p.idCourse}}">Edit</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                   
                </div>
                <div class="modal-footer">
                    <a th:href="@{'/newCourse'}" class="pull-right btn btn-primary">Add Course</a>
                </div>
            </div> 
    
    </div>
    
   <!-- FIN CONTENT -->
   </div>
    
    
  </body>
</html>
  


