<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml xmlns:th=http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"/>
<title>Insert title here</title>
</head>
<body>

<div class="container-fluid">
  <h1>Pain Line</h1>
  <p> La iniciativa que desarrolló y presentó junto a su equipo de la Escuela Técnica 12 "Libertador General José de San Martín" de Capital Federal, en 2011,
    obtuvo en ese mismo año el segundo premio en la categoría Ciencias Ambientales en la 62° Feria Internacional de Ciencia y Tecnología en la ciudad estadounidense
     de Los Ángeles. El proyecto integrado nació como respuesta a la necesidad de descontaminar el agua en el noroeste argentino para cultivar alimentos. Así, Varlotta y
Ruth Maurente idearon un "sistema de destilación de bajo costo, propulsado por energía solar, que libera de metaloides y bacterias el agua volviéndola
nuevamente apta".</p>
</div>

</body>
</html>